<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_vitrum"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_vitrum"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vitrum"
        tools:targetApi="31">
        <activity
            android:name=".activity.WaitingActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.ui.main.EntireSuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.main.CreateSuggestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SuggestionActivity"
            android:exported="false"
            android:label="@string/title_activity_suggestion"
            android:theme="@style/Theme.Vitrum.NoActionBar" />
        <activity
            android:name=".activity.ChoiceTwoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChoiceOneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>